
div b{
    color: white;
    text-decoration: underline;
    padding-right: 7px;
}

.conteiner{
    font-size: 18px;
    padding: 0 1.5em;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.formulario p{
    
    font-size: 18px; 
    color: black;
}

.info, li, p{
    
    font-size: 18px;
}
.wrapper{
    box-shadow: 0 0 20px 0 #846745;
}

.wrapper > *{
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

.formulario{
    background-color: #f7daaf ;
}

.formulario form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario form .solo{
    grid-column: 1 / 3;
}

.formulario h3{
    font-size: 30px;
    font-weight: 700;
}

.formulario form p{
    margin: 0;
    padding: 1em;
    font-weight: 700;
}

.formulario form button,
.formulario form input,
.formulario form textarea{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid brown;
}

.formulario form button{
    background: brown;
    border: none;
    text-transform: uppercase;
    padding: 1em;
}


.formulario form button:hover,
.formulario form button:focus {
    background: rgb(238, 69, 69);
    color: white;
    transition: background-color 1s ease-out;
    outline: none;
    font-size: medium;
}

.formulario form b{
    text-decoration: none;
   
}

.info{
    background-color: #AC8A5F;
}

.info h4,
.info ul,
.info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.info h4{
    font-size: 25px;
    font-weight: 700;
    color: black;
}

.info ul{
    list-style: none;
    padding: 0;
}

.info ul li{
    padding: .3em;
}

.info ul i{
    margin-right: 7px;
}

.info p{
    font-weight: 600;
}

/*responsive para pantalla grande*/
@media(min-width: 700px){
    .conteiner{
        padding: 0 4rem;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .wrapper > *{
        padding: 2em;
    }

    .info h4,
    .info ul,
    .info p {
        padding: 1em;
        text-align: left;
    }

}

