/*estilo locales*/

.containerLocales{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.mainLocales{
  width: 100%;
}

.local{
  width: 80%;
  background-color:#AC8A5F;
  z-index: 1000;
  max-width: 1000px;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.9;
  margin: 10px auto;
  padding: 7px;
  font-family:'Montserrat', sans-serif;
  display:block;
}

.dire{
  width: 100%;
}

.dire a,
.dire p{
  font-size: 16px;
  background-color:#AC8A5F;
  opacity: 0.9;
  color: black;
  text-decoration: none; 
  text-align: center;
  
}

.local h3{
  font-size: 20px;
  color: black;
  text-align: left;
  margin-left: 10px;
}

.dire a p:hover{
  background:#846745;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: .05s ease;
  padding: 10px;
  border-radius: 5px;
  
}

.dire iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}


.containerReseñas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reseña-container {
  display: inline-block;
  width: calc(100% / 3);
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px;
}

.reseña {
  background-color: white;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #846745;
}

.reseña p {
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0;
}

.usuario {
  display: flex;
  align-items: center;
}

.usuario img {
  margin-right: 10px;
}

.usuario p {
  font-weight: bold;
}

@media  screen and (max-width: 700px){
  .reseña-container{
      width: calc(100% / 1);
      text-align: center;
  }
}