
@import url(../CSS/galeria.css);
@import url(../CSS/nav.css);
@import url(../CSS/formulario-reservas.css);
@import url(../CSS/footer.css);
@import url(../CSS/locales.css);



body {
    background-image: url(../IMAGENES/Logoyfondo/Cafe\ garritas\ fondo_Mesa\ de\ trabajo\ 1.svg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    z-index: 0;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    margin-top: 80px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 120%;
}



#volver-inicio {
    color: rgb(0, 0, 2);
    font-family: 'Patrick Hand SC', cursive;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  
#h2confirmacion{
    text-align: center;
}